/* Estilo global para la página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  position: relative;
  overflow-x: hidden;
  padding-top: 80px; /* Asegura que el contenido no se solape con la barra de navegación */
}

h1.title {
  font-family: 'Georgia', serif;
  color: #2c6f2c;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, color 0.2s ease;
}

h1.title:hover {
  transform: scale(1.1);
  color: #1a5e1a;
}

/* Barra de navegación */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(44, 111, 44, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 20px; /* Reducido el padding para hacerla más pequeña */
}

.navbar-brand {
  font-family: 'Georgia', serif;
  font-size: 1.2rem; /* Tamaño de fuente reducido */
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff !important;
  font-size: 1rem; /* Tamaño de fuente reducido */
}

.navbar-nav .nav-link:hover {
  color: #1a5e1a !important;
}

.navbar-toggler {
  font-size: 1rem; /* Tamaño de la barra del menú móvil reducido */
}

/* Ajuste para la estructura de la barra */
body {
  margin-top: 70px; /* Deja espacio para la barra de navegación */
}

/* Estilos para las tarjetas de cada electrodoméstico */
.card-body {
  padding: 20px;
}

.card-body input {
  margin-top: 10px;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.1rem;
  color: #555;
}

.resultado-individual {
  margin-top: 10px;
  font-weight: bold;
  color: #4CAF50;
}

.btn-primary {
  background-color: #1a5e1a;
  border-color: #1a5e1a;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.btn-primary:hover {
  background-color: #145d1c;
  border-color: #145d1c;
}

.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #e0ffe0;
  border-radius: 8px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #4CAF50;
}

/* Responsividad */
@media (max-width: 768px) {
  .card-body input {
    font-size: 1rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .navbar-brand {
    font-size: 1.1rem; /* Ajuste para la marca en pantallas pequeñas */
  }

  .navbar-nav .nav-link {
    font-size: 0.9rem; /* Ajuste para los enlaces en pantallas pequeñas */
  }
}
