/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Fuente global y fondo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF; /* Fondo neutro */
    color: #333; /* Texto oscuro para buen contraste */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Asegura que el cuerpo ocupe todo el alto */
}

/* Cabecera */
header {
    background: linear-gradient(135deg, rgba(75, 159, 106, 0.9), rgba(75, 159, 106, 0.7)); /* Degradado verde */
    padding: 3px;
    color: white;
    width: 100%;
    text-align: center;
    position: sticky; /* Fija el header en la parte superior */
    top: 0;
    z-index: 1000; /* Asegura que el encabezado esté por encima del contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

header h1 {
    font-size: 2rem;
    margin: 0;
    text-align: left;
}

/* Navegación */
nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding: 0; /* Elimina padding para evitar espacio */
    margin: 0; /* Elimina márgenes entre los elementos */
}

nav ul li {
    margin: 0 155px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-image: linear-gradient(45deg, rgba(24, 71, 41, 0.7), rgba(102, 185, 132, 0.3)); /* Degradado verde claro con transparencia */
    border-radius: 5px;
}

/* Estilos principales */
main {
    padding: 20px;
    width: 100%;
}

.blog-post h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.blog-post p {
    margin-bottom: 20px;
}

.blog-post h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

ul, ol {
    margin-left: 20px;
}

/* Artículos relacionados */
.related-posts ul {
    list-style-type: none;
    padding: 0;
}

.related-posts ul li {
    margin-bottom: 10px;
}

.related-posts a {
    color: #4B9F6A;
    text-decoration: none;
}

.related-posts a:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 15px;
    background-color: #E9F7E6; /* Verde muy claro */
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: auto; /* Asegura que el footer se quede en la parte inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center; /* Asegura que la navegación sea centrada en móviles */
    }

    header h1 {
        font-size: 1.6rem; /* Tamaño de fuente un poco mayor para legibilidad */
    }

    .blog-post h1 {
        font-size: 2rem; /* Asegura que el título del artículo sea legible */
    }

    .related-posts ul {
        padding: 0;
        text-align: center; /* Centra los artículos relacionados */
    }
}
